#nav ul li:hover > ul {
  display: block;
}

.lingkaran-luar {
  position: absolute;
  width: 180px;
  height: 180px;
  z-index: 0;
  border-radius: 50%;
}

.lingkaran-dalam {
  position: absolute;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: linear-gradient(180deg, #003c75 0%, #014f86 70.83%);
}

#kiri {
  background: linear-gradient(to right, rgb(0, 87, 148), rgb(1, 79, 134));
  top: -73px;
  left: -27px;
}

#kiri div {
  top: 20px;
  left: 20px;
}

#kanan {
  background: linear-gradient(to right, rgb(0, 87, 148), rgb(1, 84, 143));
  top: -80px;
  right: -50px;
}

#kanan div {
  top: 22px;
  right: 22px;
}
