::-webkit-scrollbar {
  width: 5px;
  background: #343a40;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ffaa00;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #307bb1;
}
